= render 'messages/side_bar'
.chatpage
  .chatpage__talk-group

    .chatpage__talk-group-editbox
      .chatpage__talk-group-edit
        Edit


    .chatpage__talk-group-name
      group

    .chatpage__talk-member
      members:natsuki

  .chatpage__talk

    .chatpage__talk-main
      .messages
        = render @messages








    .chatpage__talk-type-area

      .chatpage__talk-type

        .chatpage__talk-type-left-message
          .form
            = form_for [@group, @message] do |f|
              = f.text_field :content, class: 'form__message', placeholder: 'type a message'
              .form__mask
                = f.label :image, class: 'form__mask__image' do
                  = fa_icon 'picture-o', class: 'icon'
                  = f.file_field :image, class: 'hidden'
              = f.submit 'Send', class: 'form__submit'


